@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b3ff;
  background-repeat: round;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  text-align: center;
  min-width: 390px;
  min-height: 100vh;
  color: #fff;
  font-family: unica one;
}

.App {
  width: 100%;
  height: 100%;

}

.app-header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-main {
  padding: 0;
  height: 70%;
}

.app-footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav-links {
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin-top: -15px;
  font-size: 24px;
  text-shadow: -1px -1px 10px #00daff,
    1px 1px 10px #002f43;
  /* transition: color 300ms ease, box-shadow 500ms ease; */
}

a {
  color: #ffffff;
  text-decoration: none;
  padding: 6px;
}

.nav:hover {
  color: #fdaeec;
  border-radius: 8px;
  font-weight: bold;
  text-shadow: none; 
  background: linear-gradient(135deg, #00a1e6, #00c0ff);
  box-shadow: 5px 5px 20px #00a1e6,
             -5px -5px 20px #00c0ff;
  transition: box-shadow 500ms ease;
}

.wlksf{
  background: linear-gradient(90deg, #00a1e6, #00c0ff);
  background-position: center;
  color: #fff;
  transition: color 500ms ease
}

.wlksf:hover{
  color:#fdaeec;
  transition: color 500ms ease;
}

h2{
  color: #ffffff;
  font-family: pathway gothic one;
  text-shadow: -1px -1px 10px #00a1e6,
      1px 1px 10px #00c0ff;
}

h3 {
  margin-top: 30px;
  width: 80%;
  padding: 0px;
  font-size: 40px;
  font-family: unica one;
  border-radius: 10px;
  background: linear-gradient(90deg, #00a1e6, #00c0ff);
  box-shadow: 5px 5px 20px #00a1e6,
             -5px -5px 20px #00c0ff;
}

h4 {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #ffffff;
  width: 95%;
  padding: 6.25px 0px 6.25px 0px;
  font-size: min(5.75vw, 21px);
  font-family: pathway gothic one;
  text-shadow: -1px -1px 10px #00a1e6,
                1px 1px 10px #002f43;
}

img {
  position: absolute;
  bottom: 0px;
  margin-bottom: -5px;
  width:100%;
  z-index:-1
  }


.homePage, .reportPage, .allReportsPage, .report-form-page, .login-page, .create-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mappo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 40px;
  background: linear-gradient(135deg, #00a1e6, #00c0ff);
  box-shadow: 5px 5px 20px #00a1e6,
             -5px -5px 20px #00c0ff;
}
.popup button{
  width: 10%;
  padding: 0;
  margin-top: -6px;
  
  background: transparent;
  top: 0;
  right: 0;
  font-size: 23px;
  color:#fdaeec;
  font-family: pathway gothic one;
}
.popup button:hover{
  background: transparent;
  color:#e6e6e6;
}
.mapboxgl-popup-tip{
  opacity: 0;
}
.mapboxgl-popup-content{
  background: linear-gradient(135deg, #00a1e6, #00c0ff) !important;
  border-radius: 10px !important;
  box-shadow: 6px 6px 20px #b4b4b4,
       -6px -6px 10px #ffffff !important;
}

.map.mapboxgl-map {
  width: 1200px;
  height:500px;
}


.report-form,
.login-form,
.report-info,
.create-account-form
 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.report-form{
  margin-top: -148px;
}

.login-form{
  margin-top: -190px;
  
}
.create-account-form{
  margin-top: -100px;
}



.form-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  height: 500px;
  margin-top: 40px;
  background: linear-gradient(135deg, #00a1e6, #00c0ff);
  box-shadow: 5px 5px 20px #00a1e6,
             -5px -5px 20px #00c0ff;
}

.question,
.login-question,
.account-question {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%
}

#comment, #incidentType, #havelocation, #currentLocation, #loadinglocation ,#time, #date, #email, #password, #firstName, #lastName, #dateOfBirth, #gender, #address, #confirmPassword{
  width: 65.6%;
  border: none;
  font-family: pathway gothic one;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 4px 4px 10px #00a1e6,
             -4px -4px 10px #00c0ff;
  text-align: center;
  color: #1e1e1e
}
#havelocation{
  background: linear-gradient(145deg, #e49dd4, #ffbafd);
}

#comment, #password, #email, #firstName, #lastName, #gender, #address, #confirmPassword{
  text-align: left;
  padding: 0px 0px 5px 0px;
  background: #e6e6e6;
  box-shadow: inset 6px 6px 10px #b4b4b4,
              inset -6px -6px 10px #ffffff;
}

#incidentType, #time { 
  border-radius: 5px
}

button {
  color: #1e1e1e;
  width: 110px;
  height: 25px;
  border-radius: 5px;
  border: none;
  padding: 3px;
  font-family: unica one;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
}

button:hover, #currentLocation:hover,
#incidentType:hover,
#time:hover,
#date:hover, #dateOfBirth:hover{
  background: linear-gradient(145deg, #e49dd4, #ffbafd);
  cursor: pointer;
}

#havelocation:hover{
  cursor: none;
}

#comment:hover, #email:hover,
#password:hover, #gender:hover, #firstName:hover, #lastName:hover, #address:hover{
  background: #fdaeec;
  box-shadow: inset 11px 11px 22px #c788b9,
    inset -11px -11px 22px #ffbcff;
}

#loadinglocation {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(199, 136, 185, 1) 37%, rgba(241, 169, 229, 1) 50%, rgba(255, 188, 255, 1) 62%, rgba(255, 255, 255, 1) 75%);
  background-position: right center;
  background-size: 400% auto; 
  animation-name: loadingani;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes loadingani {
  0%{background-position: right center}
  100%{background-position: left center}
}

#currentLocation, #havelocation, #loadinglocation{
  width: 45%;
  height: 35px
}
#or{
  font-family: pathway gothic one;
  width: 5%;
  margin-top: 6px;
  margin-bottom: 0;
  font-family: pathway gothic one;
  text-shadow: -1px -1px 10px #00a1e6,
                1px 1px 10px #002f43;
}
#address{
  width:45%;
  height: 30px 
}
input,
textarea {
  border-radius: 5px;
  font-family: pathway gothic one;
}

label {
  margin-right: 10px;
  color: white;
  font-family: pathway gothic one;
  text-shadow: -1px -1px 10px #00a1e6,
                1px 1px 10px #002f43;
}

.locationdiv {
  width: 65.6%;
  display: flex;
  justify-content: space-between
}

.report-info {
  text-align: left;
}

.submit-button {
  margin-top: 4px;
  width: 85%
}

#already-have-account, #create-account{
  width: 100%
}

.createAccount, .login{
  width: 85%;
  padding: 0px;
  margin-top: 4px
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errorMessage {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.reports{
  font-family: pathway gothic one;
  border-radius: 5px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  background: linear-gradient(135deg, #00a1e6, #00c0ff);
  box-shadow: 1px 1px 5px #00a1e6,
            -1px -1px 5px #00c0ff;
}

.reports:hover {
  cursor: pointer;
  color:#fdaeec;
}

.report-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 65%
}
.report-grid::-webkit-scrollbar {
  width: 10px; 
}
.report-grid::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.report-grid::-webkit-scrollbar-thumb:hover {
  background: #fdaeec;
}