@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#root {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color:#000000;
  background: linear-gradient(rgba(10, 87, 120, 1), rgba(175, 64, 177, 1), rgba(255, 153, 233, 1));
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff;
  font-family: unica one;
  
}

.App{
  width: 100%;
  height: 100%;
  
}
.app-header{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-main{
  padding: 0;
  height: 70%;
}
.app-footer{
  height: 10%
}

.header{
  width: 100%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

.nav-links{
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin-top: -30px;
  font-size: 22px;
}

a {
  color: #ffffff;
  text-decoration: inherit;
  padding: 4px;
}
.nav:hover {
  background-color: #000000;
  border-radius: 10px;
  
}

h3 {
  margin-top:10px;
  width: 95%;
  background-color: #80B4CA;
  padding: 0px;
  border-radius: 10px;
  font-size: 40px;
  font-family: unica one;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15),
      0 2px 4px rgba(0, 0, 0, .2),
      0 4px 8px rgba(0, 0, 0, .25),
      0 8px 16px rgba(0, 0, 0, .3)

}

h4 {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: roboto condensed;
  font-size: 20px;
}

img{
  height: 1000% ;
  width: 100%
}

.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mappo{
  height: 30%; 
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow:hidden;
  
  box-shadow: 0 1px 2px rgba(0,0,0, .15),
              0 2px 4px rgba(0, 0, 0, .2),
              0 4px 8px rgba(0, 0, 0, .25),
              0 8px 16px rgba(0, 0, 0, .3)
}

#mapContainer.map.mapboxgl-map {
  width: 1200px;
  height: 370.5px;
}


.report-form, .login-form, .report-info, .create-account-form{
  display: flex;
  flex-direction: column;
  border: solid 4px rgba(10, 87, 120, 1);
  border-radius: 5px;
  padding: 50px 0 50px 130px;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: white;
}

.question, .login-question, .account-question {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.submit-button {
  width: 110px;
  height: 25px;
  border-radius: 5px;
  padding: 3px;
}

.submit-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

input, textarea {
  border-radius: 5px;
}

label {
  margin-right: 10px;
  color: black;
}

#create-account {
  width: 150px;
}


#log-in-button, #create-account-button {
  margin-right: 0;
  margin-left: 5px;
}

#create-account {
  margin-right: 0;
  margin-left: 0;
}

.createAccount {
  margin-right: 300px;
}

.login-question, .account-question {
  margin-left: 5px;
}

p {
  color: black;
}

.report-info {
  text-align: left;
}

#already-have-account {
  width: 250px;
  margin-right: 160px;
}







